<div class="d-flex justify-content-center align-items-center">
    <mat-card *ngIf="movie$ | async " class="example-card">
        <mat-card-header>
            <mat-card-title>{{(movie$ | async).Title}}</mat-card-title>
            <mat-card-subtitle>Year: {{(movie$ | async).Year}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{(movie$ | async).Poster}}" alt="movie poster">
        <mat-card-content>
            <p>
                Some fancy text. To show I know where to put a text.
                My text is amazing.
            </p>
        </mat-card-content>
        <mat-card-actions (click)="goMainPage($event)">
            <button mat-button>BACK</button>
        </mat-card-actions>
    </mat-card>

    <mat-card *ngIf="!(movie$ | async)" class="example-card">
        <img mat-card-image src="/assets/sad-pepe-2.jpg" alt="movie poster">
        <mat-card-content>
            <p>
                State is not loaded.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="goMainPage($event)" mat-button>Main Page</button>
        </mat-card-actions>
    </mat-card>
</div>


