<div *ngIf="isLoading">
    <mat-progress-bar class="loader" mode="indeterminate"></mat-progress-bar>
</div>
<div *ngIf="!isLoading">
    <div class="empty-loader"></div>
</div>

<div class="d-flex justify-content-center align-items-center">
    <mat-form-field class="search-input" appearance="standard">
        <mat-label>Movie Search</mat-label>
        <input [(ngModel)]="searchText" matInput placeholder="">
        <mat-hint>Title, Year, Type, Poster, Plot, IMDB rating, Runtime, Genre</mat-hint>
    </mat-form-field>

    <button mat-stroked-button
            type="submit"
            (click)="search($event)"
            (keyup.enter)="search($event)"
            [disabled]="isLoading">Search
    </button>
</div>

<div class="d-flex justify-content-center movie-container">
    <mat-list *ngIf="movies.length > 0">
        <mat-list-item *ngFor="let movie of movies" [routerLink]="['/movie']">
            <mat-icon matListIcon>movie</mat-icon>
            <h3 matLine>Title: {{movie.Title}} </h3>
            <p matLine>
                <span> Year </span>
                <span> -- {{movie.Year}} </span>
            </p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div *ngIf="movies.length == 0">
        {{noMoviesText}}
    </div>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
