<div class="d-flex justify-content-center align-items-center">
    <mat-form-field class="search-input" appearance="standard">
        <mat-label>Movie Search</mat-label>
        <input [(ngModel)]="searchText" matInput placeholder="">
        <mat-hint>Title, Year, Type, Poster, Plot, IMDB rating, Runtime, Genre</mat-hint>
    </mat-form-field>

    <button mat-stroked-button
            type="submit"
            (click)="search($event)"
            (keyup.enter)="search($event)"
            [disabled]="loading">Search
    </button>
</div>

<div class="d-flex justify-content-center movie-container">
    <div *ngIf="!loading">
        <div *ngIf="movies | async">
            <mat-list>
                <mat-list-item *ngFor="let movie of (movies | async)" [routerLink]="['/movie-details']">
                    <mat-icon matListIcon>movie</mat-icon>
                    <h3 matLine>Title: {{movie.Title}} </h3>
                    <p matLine>
                        <span> Year </span>
                        <span> -- {{movie.Year}} </span>
                    </p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </div>

        <div *ngIf="(getMoviesError | async) || (movies | async).length == 0">
            {{noMoviesText}}
        </div>
    </div>
    <div *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
