<div>
    <mat-form-field class="search-input" appearance="standard">
        <mat-label>Movie Search</mat-label>
        <input matInput placeholder="">
        <mat-hint>Title, Year, Type, Poster, Plot, IMDB rating, Runtime, Genre</mat-hint>
    </mat-form-field>

    <button mat-stroked-button>Search</button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->